body {
  background: rgb(63, 159, 197);
  font: normal 15pt Arial;
}

header {
  color: white;
  text-align: center;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 650px;
  margin: auto;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.473);
}

div {
  font: bold 19pt Arial;
  text-align: center;
  padding: 3px;
  color: white;
  text-shadow: 1px 1px 0 black, 1px 1px 0 black, 1px 1px 0 black,
    1px 1px 0 black;
}

input {
  padding: 4px;
  width: 70px;
  border-radius: 5px;
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}
